<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/tabs" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <h1 class="title">Checkout</h1>

  <!-- Booking Description -->

  <div class="cart-items">

    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="{{image}}" />
        </div>

        <div class="item-info">
          <p>{{hotelName}}</p>
          <ion-icon name="person-circle-outline"></ion-icon>{{capacity}} persons

        </div>
      </ion-card-content>
    </ion-card>

  </div>

  <!-- Range of Days -->

  <div class="cart-total">
    <h1>Your Reserve</h1>

    <ion-item>
      <ion-label><ion-icon name="calendar-outline"></ion-icon> Dates</ion-label>
      <ion-label slot="end" class="ion-text-right">{{dates}} </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label><ion-icon name="moon-outline"></ion-icon> Total Nights</ion-label>
      <ion-label slot="end" class="ion-text-right">{{nights}} Nights</ion-label>
    </ion-item>

  </div>

  <!-- Price Detail -->

  <div class="cart-total">
    <h1>Price Details</h1>
    <ion-item lines="none">
      <ion-label>${{pricePerNight}} x {{nights}} Nights</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Total</ion-label>
      <ion-label slot="end" class="ion-text-right">${{pricePerNight * nights}}</ion-label>
    </ion-item>
  </div>
</ion-content>

<ion-footer translucent="true">
  <ion-toolbar>

    <ion-row>
      <ion-col>
        <ion-button expand="block" class="main-button" (click)="doReservation()" routerDirection="forward">Book</ion-button>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-footer>