<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/item-details" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <h1 class="title">Checkout</h1>

  <!-- Booking Description -->

  <div class="cart-items">

    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/events/Hotel1.jpg" />
        </div>

        <div class="item-info">
          <p>Hotel Marriott</p>
          <p>Guanacaste, CR</p>
          <p>$100</p>
        </div>
      </ion-card-content>
    </ion-card>

  </div>

  <!-- Range of Days -->

  <div class="cart-total">
    <h1>Your Reserve</h1>

    <ion-item>
      <ion-label><ion-icon name="calendar-outline"></ion-icon> Dates</ion-label>
      <ion-label slot="end" class="ion-text-right">01 Jan - 05 Jan </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label><ion-icon name="moon-outline"></ion-icon> Total Nights</ion-label>
      <ion-label slot="end" class="ion-text-right">5 Nights</ion-label>
    </ion-item>

  </div>

  <!-- Price Detail -->

  <div class="cart-total">
    <h1>Price Details</h1>
    <ion-item lines="none">
      <ion-label>$100 x 5 Night</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Subtotal</ion-label>
      <ion-label slot="end" class="ion-text-right">$500</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Commission</ion-label>
      <ion-label slot="end" class="ion-text-right">$150</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tax & Fee</ion-label>
      <ion-label slot="end" class="ion-text-right">$100</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Total</ion-label>
      <ion-label slot="end" class="ion-text-right">$750</ion-label>
    </ion-item>
  </div>

         <!-- Payment -->

         <div class="cart-total">
          <h1>Payment Procedure</h1>
      
          <ion-list>
    
            <ion-item>
              <ion-label position="floating">Cardholder's Name</ion-label>
              <ion-input placeholder="Enter Name"><ion-icon name="person-circle-outline"></ion-icon></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label position="floating">Card Number</ion-label>
              <ion-input type="number" placeholder="Enter Card Number"><ion-icon name="card-outline"></ion-icon></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label position="floating">Expiration Date</ion-label>
              <ion-input placeholder="Enter the Date"><ion-icon name="calendar-number-outline"></ion-icon></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label position="floating">Card Security Code</ion-label>
              <ion-input type="number" placeholder="Enter Security Code"><ion-icon name="lock-closed-outline"></ion-icon></ion-input>
            </ion-item>
      
          </ion-list>
      
        </div>    

</ion-content>

<ion-footer translucent="true">
  <ion-toolbar>

    <ion-row>
      <ion-col>
        <ion-button expand="block" class="main-button" routerLink="/confirm" routerDirection="forward">Reservar</ion-button>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-footer>