.backbtn {
  margin-left: 15px;
}

.button-native {
  margin-left: 20px;
}

ion-content {
  --padding-top: 16px;
  --padding-bottom: 16px;
  --padding-start: 26px;
  --padding-end: 26px;

  .item-name {
    color: #2a2a2a;
  }

  .seperator {
    hr {
        position: absolute;
        left: 0;
        width: 100%;
        background: #e2e2e2;
    }
  }

  .review {
    margin-top: 16px;
    color: #2a2a2a;

    .rating {
        display: inline-block;
        color: #ffffff;
        background: var(--ion-color-primary);
        padding: 6px 40px 6px 40px;
        margin-left: 58px;
        border-radius: 15px;
    }

    .count {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: var(--ion-color-primary);
    }
  }

  .description {
    h5 {
        color: #bf9555;
        padding-top: 10px;
    }

    p {
        color: #656565;
        text-align: justify;
    }
  }

  .dates {

    h4 {
      color: #a77cec;
    }

  }

}

ion-footer {

  ion-row {
      padding: 0;
      margin-top: -4px;
      background-color: #656565e0;

      ion-col {

        ion-button {
            height: 50px;
            font-size: 15px;
            box-shadow: none;
            margin-top: 9px;
            margin-left: 15px;
            --background: #f59d3f;
        }

        h2 {
          text-align: center;
          margin-top: 6px;
          color: white;
        } 
  
        .price{
          margin-top: -24px;
          text-align: center;
          margin-bottom: auto;
          color: #beef5f;
        }
    }
  }
}