<ion-header translucent>
  <ion-toolbar>
    
    <br>
    <ion-searchbar></ion-searchbar>
    
    <!-- Start Date -->

    <ion-item> 
      <ion-label position="floating">Start date</ion-label> 
      <ion-datetime displayFormat="DDD, MMM DD" value="2021-01-01T00:00:00.000Z" display-timezone="utc"></ion-datetime>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
    </ion-item>

    <!-- End Date -->

    <ion-item> 
      <ion-label position="floating">End date</ion-label> 
      <ion-datetime displayFormat="DDD, MMM DD" value="2021-01-01T00:00:00.000Z" display-timezone="utc"></ion-datetime>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
    </ion-item>

    <ion-col size="6">
      <ion-button expand="full">Search</ion-button>
    </ion-col>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="title">
    <h2>Search for...</h2>
  </div>

  <div class="event-slider">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }" class="default-left-padding">

      <!-- Slide I -->

      <ion-slide>
        <ion-col class="ion-text-left">
          <ion-card>

            <ion-card-header class="ion-no-padding">
              <img src="../../assets/events/Hotel1.jpg" />
            </ion-card-header>

            <ion-card-content>
              <h2 class="eventname">Hotel FiveStars</h2>
              <p class="location"><ion-icon name="location"></ion-icon>Limon, Costa Rica</p>
              <div class="additional-info">
                <p class="price">$250 / Noche</p>
              </div>
            </ion-card-content>

            <ion-col>
              <ion-button expand="block" routerLink="/item-details">View</ion-button>
            </ion-col>

          </ion-card>
        </ion-col>
      </ion-slide>

      <!-- Slide II -->

      <ion-slide>
        <ion-col class="ion-text-left">
          <ion-card>

            <ion-card-header class="ion-no-padding">
              <img src="../../assets/events/Hotel1.jpg" />
            </ion-card-header>

            <ion-card-content>
              <h2 class="eventname">Hotel FiveStars</h2>
              <p class="location"><ion-icon name="location"></ion-icon>Limon, Costa Rica</p>
              <div class="additional-info">
                <p class="price">$250 / Noche</p>
              </div>
            </ion-card-content>

            <ion-col>
              <ion-button expand="block" routerLink="/item-details">View</ion-button>
            </ion-col>

          </ion-card>
        </ion-col>
      </ion-slide>

       <!-- Slide III -->

       <ion-slide>
        <ion-col class="ion-text-left">
          <ion-card>

            <ion-card-header class="ion-no-padding">
              <img src="../../assets/events/Hotel1.jpg" />
            </ion-card-header>

            <ion-card-content>
              <h2 class="eventname">Hotel FiveStars</h2>
              <p class="location"><ion-icon name="location"></ion-icon>Limon, Costa Rica</p>
              <div class="additional-info">
                <p class="price">$250 / Noche</p>
              </div>
            </ion-card-content>

            <ion-col>
              <ion-button expand="block" routerLink="/item-details">View</ion-button>
            </ion-col>

          </ion-card>
        </ion-col>
      </ion-slide>

    </ion-slides>
  </div>

</ion-content>
