<ion-header class="ion-no-border">
  <ion-toolbar >

    <ion-title>
      <img src="../../assets/logos/logo1.PNG" alt="">
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="banner">

    <img id="menu-img" src="../../assets/banners/best5a.png" />

    <div class="caption ion-padding">
      The Best Booking App
    </div>

  </div>

  <div class="title">
    <h2>List of Rooms</h2>
  </div>

        <ion-card *ngFor="let hotel of hotels">
          <ng-container *ngIf="hotel.isActive">
            <img src="{{hotel.image}}" />
            <ion-card-header>

              <ion-row>
                <ion-col size="8">
                  <div class="location"><ion-card-title>{{hotel.name}}</ion-card-title></div>
                </ion-col>
                <ion-col size="4">
                  <div class="price">{{hotel.pricePerNight}}/Night</div>
                </ion-col>
              </ion-row>

            </ion-card-header>

            <ion-card-content>
              {{hotel.description}}
                <br>
              <ion-row>
                <ion-col>
                  <div><ion-icon name="people-outline"></ion-icon> {{hotel.capacity}} Persons</div>
                </ion-col>
              </ion-row>

              <ion-col>
                <ion-button expand="block" routerLink="/rooms-details/{{hotel.id}}">View</ion-button>
              </ion-col>

            </ion-card-content>
          </ng-container>
          
          
        
        </ion-card>
</ion-content>

