<ion-header class="ion-no-border">
  <ion-toolbar >

    <ion-title>
      <img src="../../assets/logos/logo1.PNG" alt="">
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="banner">

    <img id="menu-img" src="../../assets/banners/best5a.png" />

    <div class="caption ion-padding">
      The Best Booking App
    </div>

  </div>

  <div class="title">
    <h2>List of Rooms</h2>
  </div>

        <ion-card>
          <img src="../../assets/events/Hotel1.jpg" />
          <ion-card-header>

              <ion-row>
                <ion-col size="8">
                  <div class="location"><ion-icon name="location"></ion-icon>Guanacaste, Costa Rica</div>
                </ion-col>
                <ion-col size="4">
                  <div class="price">$500/Night</div>
                </ion-col>
              </ion-row>

          <ion-card-title>Hotel Los Sueños</ion-card-title>

          </ion-card-header>

            <ion-card-content>
              A perfect room, if you want to stay close to the beach and have a great vacation.
                <br>
              <ion-row>
                <ion-col>
                  <div><ion-icon name="people-outline"></ion-icon> 4 Persons</div>
                </ion-col>
                <ion-col>
                  <div><ion-icon name="bed-outline"></ion-icon> 2 Rooms</div>
                </ion-col>
              </ion-row>

              <ion-col>
                <ion-button expand="block" routerLink="/item-details">View</ion-button>
              </ion-col>

            </ion-card-content>
        
        </ion-card>

</ion-content>

