
// HEADER

ion-header{
  position: absolute;

  ion-toolbar{
    padding-left: 14px;
    padding-right: 14px;

    ion-title{
      text-align: center;
    }
  }
}

//PADDINGS

.default-left-padding{
  padding-left: 26px;
}

.default-top-padding {
  padding-top: 26px !important;
}

//CONTENIDO

ion-content {

  .banner {
    position: relative;
    // margin-top: -33px;

    #menu-img {
      margin-top: 15px;
    }

    img {
      width: 100%;
    }

    .caption {
      position: absolute;
      width: 100%;
      bottom: -10px;
      font-size: 26px;
      color: white;
      margin-bottom: 32px;
      text-align: center;
    }
    
  }

  //TITULO

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 26px 16px 26px;

    h2 {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
      color: #2c929c;
    }
  }

  // Habitaciones

  ion-card-header {
    margin-top: -10px;
  }

  
  ion-card-content {
    margin-bottom: -22px;
  }

  ion-card{

    .price {
      color: #e69419;
      font-size: 15px;
      margin-bottom: 5px;
    }

    .location{
      color: plum;
    }

  }
}

