  .backbtn {
  margin-left: 15px;
}

ion-content {
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-start: 26px;
    --padding-end: 26px;
  }
  
  .title {
    margin-top: 0;
    color: #434343;
  }
  
  //Slide Events

  .event-slider {
    ion-slide {
      width: 60%;
      margin-right: 30px;

      ion-col {
        padding-left: 0;

        ion-card {
          width: 100%;
          border-radius: 12px;
          box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.16);
          margin-left: 5px;
          margin-top: 12px;

          ion-card-header {
            img {
              width: 100%;
            }
          }

          ion-card-content {
            margin-top: none;
            height: 105px;

            .price {
              color: #de8a33;
              font-size: 15px;
              margin-top: 10px;
              text-align: center;
            }

            .eventname {
              color: #1db1de;
              font-size: 16px;
              font-weight: bold;
              text-align: center;
              margin-top: 11px;
              margin-bottom: 5px;
            }

            .date{
                color: black;
                text-align: center;
                margin-top: 10px;
            }

          }
        }
      }
    }
  }