<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="../tab1" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 class="title">My Bookings</h1>

  <div class="event-slider">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }" class="default-left-padding">

      <!-- Slide I -->

      <ion-slide *ngFor="let reservation of reservations">
        <ion-col class="ion-text-left">
          <ion-card>

            <ion-card-header class="ion-no-padding">
              <img src="{{reservation.image}}" />
            </ion-card-header>

            <ion-card-content>
              <h2 class="eventname">{{reservation.hotelName}}</h2>
               <p class="date">{{reservation.startDate | date}} - {{reservation.endDate | date}}</p> 
              <div class="additional-info">
                <p class="price">${{ reservation.pricePerNight * reservation.totalOfNights}}</p>
              </div>
            </ion-card-content>

          </ion-card>
        </ion-col>
      </ion-slide>

    </ion-slides>
  </div>

</ion-content>
