<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>
      Admin Profile
    </ion-title >
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="onboard-main">
    <div class="onboard-bot">
      <div class="onb-img">
        <img src="../../assets/events/profile.png" alt="">
      </div>
      <div class="onb-desc ion-text-center">
        <h4 class="ion-text-capitalize ion-no-margin">Welcome Admin</h4>
        <p class="ion-no-margin">
          Now you have access to manage the rooms here..!!
        </p>
      </div>
    </div>
  </div>
</ion-content>
