<ion-header>
  <ion-toolbar>
    <ion-title>edit</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    
    <ion-list-header>
      Rooms List
    </ion-list-header>

    <ion-item>
      <ion-card>
        <img src="../../../assets/events/Hotel1.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
        <ion-button expand="block" (click)="editModal()">
          Edit
        </ion-button>
      </ion-card>
    </ion-item>

  </ion-list>

</ion-content>
